main, nav, header, article, section, footer{
    border: 1px solid gray;
    padding: 10px;
}
.nagykep img, .kep img {
    width: 100%;
    
}
.kiskep {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
nav {
    background-color: lightgray;
    text-transform: capitalize;
    padding: 0%;
    display: grid;
    grid-template-columns:4fr 1fr;
}
#masodik {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
nav ul {
    
    margin: 0%;
    padding: 0%;
    align-items: center;
}
nav li {
    list-style-type: none;
}
nav a {
    border-left: 1px solid gray;
    padding: 20px; 
    display: inline-block;
}
nav a:link {
    text-decoration: none;
    color: red; 
}
nav a:visited{
    text-decoration: none;
    color: red; 
}
nav a:hover{
    text-decoration: none;
    color: white;
    background-color: red;
}
nav a:active{
    text-decoration: none;
    color: red; 
}
#kezdo {
    background-color: red;
    color: white;
}
#kezdo:hover{
    background-color: white;
    color: red;
}
.kep {
    border: 1px solid gray;
    padding: 5px;
}
.kep:hover {
    border: none;
}

@media screen and (max-width:800px) {
    .kiskep {
        grid-template-columns:1fr;
        gap: 10px;
    }
    
    nav ul {
        grid-template-columns: 1fr;
    }
    nav {
        grid-template-columns: 1fr;
    }
    #masodik {
        grid-template-columns:1fr;
    }
}